@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<div class="container p-3 my-3 border" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background: lightgrey;
  border-radius: 5px;" >
    <h3> Hi, this is completed interview task. Thanks for watching.<br><br>Regards Sebastian Kaźmierczak</h3>
     <div style="margin: 5px">
        <a class="btn btn-primary" asp-action="Dashboard">Go to my URLs</a>
    </div>
</div>


